
body {
	color:black;
	background: white;
	font-family: helvetica;
}
}
h1 {
	font-size: 60px;
	margin-left: 40px;
}
h2 {
	font-size: 18px;
}
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	/*padding: 2px;*/
	border-bottom: 1px solid #eeeeee;
	z-index: 10000;
	background: white;
	overflow: hidden;
}

img {
			/*border: 3px solid black;*/
			/*border-radius: 20px;*/
			margin: 20px 0px 0px 0px;
			/*width: 550px;*/
}

/*td {
	vertical-align: text-top;
}*/

.header_holder {
		position: relative;
		margin-top: 150px;
}


body{
	z-index:100;

}

article {
	margin: 0 auto;
	max-width: 550px;
	padding: 20px;
	font-size: 15px;
	
}
p {
	max-width: 700px;
}

ul {
	padding: 1px;
	text-align: right;
}
li {
	display: inline;
	padding: 0px 18px 0px 18px;
}
a {
	color: rgb(200,200,200);
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: line-through;
}

.square{
     width:100px; 
     height:100px;  
     background: black;
     margin-left: -200px;
     margin-top: -100px;
    }

/*.header_menu {


}

    <header>

			<table style="width:100%">
				<tr>
					<td>
						<h1>
							samantha
							<br>
							tova
							<br>
							rothberg
						</h1>
					</td>
					<td>
						<h2>
							<ul>
								<li><a href="index2.pdf">home</li></a>
								<li><a href="resume-SRothberg.pdf"> my resume</li></a>
								<li><a href="portfolio-prof.html"> my professional work</a></li>
							 	<li><a href="portfolio-personal.html">my metal thoughts</a></li>
								<li><a href="food.html">my food creations</li></a>
								<li><a href="contact.html">contact</li></a>
							</ul>	
					</td>
				</tr>
			</table>
	
	</header>
