
a {
		color: grey;
		line-height: 40px;
	}

body {
		margin-left: 0 auto; 
		margin-top: 100px; 
		font-family: sans-serif;
        background: black;
        color: white;
        text-align: left;
	}
p {
    font-size: 22px;
}

.square{
     width:100px; 
     height:100px;  
     background: black;
     margin-left: -200px;
     margin-top: -100px;
}

	.shape {
    width:400px;
    margin:0 auto;
}
.top {
    height:0;
    border-width:0 0 150px 400px;
    border-style:solid;
    border-color:transparent #d71f55 #d71f55 transparent;
}
.bottom {
    height: 50px;
    background-color:#d71f55;
}